<div class="container mt-5">
    <h1 class="text-center">Selamat Datang di <%= title %></h1>
    <p class="text-center">Website resmi Universitas Multi Data Palembang</p>
  
    <div class="text-center mt-4">
      <img src="/images/logo-mdp.png" alt="Logo Universitas MDP" class="img-fluid" width="300">
    </div>
  </div>
  